$color-red: #fd2b01;
$color-red-white:rgba(230, 43, 6, 1);
@mixin add-shadow-black{
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 5px 12px 10px #b4afaf;
  box-shadow: 3px 5px 12px 10px #b4afaf;
}
  @mixin add-shadow-white{
    border-radius: 9px 9px 9px 9px;
    -webkit-box-shadow: 3px 2px 12px 0px #e4d7d7;
    box-shadow: 3px 2px 12px 0px #e4d7d7;
    }  

.section_blog {
  display: flex;
  position: relative;
  margin: auto;
  margin-right: 5%;
  margin-left: 5%;
  height: 100%;
  padding: 5em 2em;
  margin-top: 150px;
  background-color: #f4f9fa;
  @include add-shadow-black;

  .blog_container {
    position: absolute;
    font-size: 1em;
    margin-top: -110px;
    margin-left: 10%;
    max-height: 100px;
    width: 70%;
    text-align: center;
    @include add-shadow-black;
    background-color: rgba(230, 43, 6, 0.9);
  }
  .container_blog_mediaCard {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
        url("../images/icon-left-font-long.png" );
        object-fit: cover;
        @include add-shadow-black;
        margin-top: 30px;
        padding-top: 50px;
    
       & .btnDeleteAndMofified_mediaCard_container {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         @include add-shadow-black;
         width: 90%;
         padding-left: 15px;
         
         height: 50px;
         margin: 12px auto;
        & .btn_btnModifiedPost {
         border-radius: 50px;
       
          background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
          url("../images/icon-left-font-long.png" );
         }
         & .btn_btnModifiedPost:hover {
           transform: scale(1.03);
           padding: 0.3em;
           
         }
         & .btn_btnDeletePost {
          border: solid 2px rgb(167, 163, 163);
        
          padding: 0;
          background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
          url("../images/icon-left-font-long.png" );
        }
        & .btn_btnDeletePost:hover {
            padding: 0.05em;
        }
       }
  }
  
  .form_mediaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding: 1em;
    background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
    url("../images/icon-left-font-long.png" );
    width: 50%;
    @include add-shadow-black;
    margin: auto;
    .p_form_mediaCard {
      background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
      url("../images/icon-left-font-long.png" );
      text-align: center;
      font-size: 1.4em;
      @include add-shadow-black;
      padding: 0.5em;
      width: 88%;
      margin-bottom: 10px;
    }
    .input_title_mediaCard {
      height: 30px;
      width: 90%;
      @include add-shadow-black;
    }
    .input_post_mediaCard {
      width: 90%;
      min-height: 200px;
      @include add-shadow-black;
    }
    .input_button_mediaCard {
      margin: 1em;
      padding: 0.5em;
      width: 90%;
      @include add-shadow-black;
    }
  }
  .h1blog {
    color: white;
    padding: 1.5em;
    font-size: 1em;
  }
  .message_notConnectBlog {
    padding: 2em;
    @include add-shadow-black;
    & p {
      font-size: 1.5em;
    }
  }
  .CartContent_title_content {
    min-height: 200px;
  }
  @media screen and (max-width: 500px){
    .blog_container {
      font-size: 1em;
      
    }
  }
}
