$color-red: #f8340c;

@mixin add-shadow-black{
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 5px 12px 10px #868585;
  box-shadow: 3px 5px 12px 10px #868585;
  }
  @mixin add-shadow-white{
    border-radius: 9px 9px 9px 9px;
    -webkit-box-shadow: 3px 2px 12px 0px #e4d7d7;
    box-shadow: 3px 2px 12px 0px #e4d7d7;
    }  


.signin_profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .upload_img_profil {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: aliceblue;
        @include add-shadow-black;
    }
        .content_profil_input {
            font-size: 1em;
            padding: 0.8em;
            background-color: rgb(240, 224, 224);
            @include add-shadow-black;
            background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
            url("../images/icon-left-font-long.png" );
            margin: 1em;
            color: black;
            font-size: 1.2em;
        }
        .content_profil_input:hover {
            transform: scale(1.02);
        }
        .content_profil_label { 
           font-size: 1em;
            padding: 0.8em;
            background-color: rgb(240, 224, 224);
            @include add-shadow-black;
            background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
            url("../images/icon-left-font-long.png" );
            margin: 1em;
            color: black;
            font-size: 1.2em;
        }
        @media screen and (max-width: 600px) {
            .upload_img_profil {
                height: 400px;
                max-width: 245px;
                
            }
            .content_profil_input {
             
                margin: 0.5em;
                
            }
          }
          @media screen and (max-width: 400px) {
            .upload_img_profil {
                height: 400px;
                max-width: 205px;
                
            }
            .content_profil_input {
            
                margin: 0.5em;
                
            }
          } 
    
    


}



