

.section_profil {
  position: relative;
  margin: auto;
  max-width: 70%;
  height: 100vh;
  margin-top: 70px;
  background-color: #e4d7d7;
  // border: solid 1px whitesmoke;
  //  background-color: rgb(81, 82, 83);
  -webkit-box-shadow: 2px 2px 19px -3px #524f4f;
  box-shadow: 2px 2px 19px -3px #524f4f;
  border-radius: 9px 9px 9px 9px;
  .profil_container {
    position: absolute;
    //  margin: auto;
    bottom: 95vh;
    margin-left: 10%;
    max-height: 100px;
    width: 80%;
    text-align: center;
    background-color: rgb(99, 68, 139);
    //  border: solid 1px whitesmoke;
    border-radius: 9px 9px 9px 9px;
    -webkit-box-shadow: 3px 5px 12px 10px #524f4f;
    box-shadow: 3px 5px 12px 10px #524f4f;
    }
    .h1profil {
      color: #f3eded;
      padding: 1.5em;
      font-size: 1em;
    }

}

